//////////////////////////////////////////////////
// SASS VARIABLES
//////////////////////////////////////////////////

// Colors
$legionnaire-red          : #8e1505;
$legionnaire-red--dark    : #411610;
$damocles-black           : #323226;
$venus-white              : #d4cdcd;
$bellona-grey             : #aaaaaa;

// Fonts
$font__roman              : "Times New Roman", serif;

// Navigation
$color__nav-item          : $damocles-black;
$size__nav-item           : 32px;

// Progress bar
$color__rank-text                  : rgba(26, 26, 26, 0.6);
$color__progress-bar-bg            : $bellona-grey;
$color__progress-bar-fill--rank    : $legionnaire-red;
$color__progress-bar-fill--valor   : $damocles-black;

// Music player
$color__player-bg         : $legionnaire-red--dark;
$color__player-text       : $venus-white;

// Layout body (Main middle section)
$body__title              : #e9e8e8;
$body__subtitle           : #d4cdcd;

// Backgrounds
$background__main         : url(../img/background_main.jpg) no-repeat;
$background__red-grunge   : url(../img/background_red_grunge.jpg) no-repeat;
