//////////////////////////////////////////////////
// LAYOUT NAV
//////////////////////////////////////////////////

.layout-nav {
	margin-top: 50px;
}
.layout-nav__container {
	display: flex;
	justify-content: center;
}
.layout-nav__list {
	display: flex;
	width: 90%;
	padding-left: 0;
	list-style: none;
}
.layout-nav__list-item {
	flex: 1 1 100%;
	text-align: center;
}
.layout-nav__link {
	color: $color__nav-item;
	font-size: $size__nav-item;
	text-transform: uppercase;
	letter-spacing: 2px;
}
