//////////////////////////////////////////////////
// PROGRESS
//////////////////////////////////////////////////

.progress__container {
	width: 900px;
	max-width: 100%;
	float: right;
}
.progress__column {
	float: right;
	width: 33%;
}
.progress__icon {
	height: 12px;
}
.progress__points {
	font-weight: bold;
}
.progress__text {
	color: $color__rank-text;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin: 5px 0;
}
.progress__bar {
	position: relative;
	width: 90%;
	height: 5px;
	border-bottom: 2px solid $color__progress-bar-bg;
}
.progress__bar-fill {
	position: absolute;
	top: 0;
	left: 0;
	width: 55%;
	height: 5px;
	background: $color__progress-bar-fill--rank;
}
.progress__column--valor .progress__bar-fill {
	width: 85%;
	background: $color__progress-bar-fill--valor;
}
